<body>
  <div class="container">
    <main>
      <h1>Create Drink</h1>
      <div class="form">
        <form action='/adminCreate/drink' method="POST">
          <label for="drinkName">Drink Name</label>
          <input type="text" id="drinkName" name="drinkName">
          <label for="drinkPrice">Drink Price</label>
          <input type="text" id="drinkPrice" name="drinkPrice">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
</body>