<body>
  <div class="container">
    <main>
      <h1>Create Side</h1>
      <div class="form">
        <form action='/adminCreate/side' method="POST">
          <label for="sideName">Side Name</label>
          <input type="text" id="sideName" name="sideName">
          <label for="sidePrice">Side Price</label>
          <input type="text" id="sidePrice" name="sidePrice">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
</body>