<body>
  <div class="container">
    <main>
      <h1>Create Bun</h1>
      <div class="form">
        <form action='/adminCreate/bun' method="POST">
          <label for="bunName">Bun Name</label>
          <input type="text" id="bunName" name="bunName">
          <label for="bunPrice">Bun Price</label>
          <input type="text" id="bunPrice" name="bunPrice">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
</body>