<body>
  <div class="container">
    <main>
      <h1>Create Topping</h1>
      <div class="form">
        <form action='/adminCreate/topping' method="POST">
          <label for="toppingType">Topping Type</label>
          <input type="text" id="toppingType" name="toppingType">
          <label for="toppingPrice">Topping Price</label>
          <input type="text" id="toppingPrice" name="toppingPrice">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
</body>