<body>
  <div class="container">
    <main>
      <h1>Create Cheese</h1>
      <div class="form">
        <form action='/adminCreate/cheese' method="POST">
          <label for="cheeseName">cheese Name</label>
          <input type="text" id="cheeseName" name="cheeseName">
          <label for="cheesePrice">cheese Price</label>
          <input type="text" id="cheesePrice" name="cheesePrice">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
</body>