<body>
  <div class="container">
    <main>
      <h1>Create Patty</h1>
      <div class="form">
        <form action='/adminCreate/patty' method="POST">
          <label for="pattyName">Patty Name</label>
          <input type="text" id="pattyName" name="pattyName">
          <label for="pattyPrice">Patty Price</label>
          <input type="text" id="pattyPrice" name="pattyPrice">
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
</body>