@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button-container {
  margin: auto;
  text-align: center;
  width: 350px;
}

#checkbox-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#banner {
  font-family: 'Smooch', cursive;
  font-size: 120px;
  color: red;
  text-shadow: 3px 3px black;
}

#burger-wrapper {
  margin: auto;
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column;
}